In [50]:
#Import all the useful libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.naive_bayes import BernoulliNB,GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [2]:
df=pd.read_csv("accidents-1.csv")

In [3]:
df.head()

,RushHour,WRK_ZONE,WKDY,INT_HWY,LGTCON_day,LEVEL,SPD_LIM,SUR_COND_dry,TRAF_two_way,WEATHER_adverse,MAX_SEV
0,1,0,1,1,0,1,70,0,0,1,NOT_SEVERE
1,1,0,1,0,0,0,55,0,1,0,SEVERE
2,1,0,0,0,0,0,35,0,0,1,NOT_SEVERE
3,1,0,1,0,0,1,35,0,0,1,NOT_SEVERE
4,1,0,1,0,0,0,25,0,0,1,SEVERE

In [7]:
df.dtypes

RushHour              int64
WRK_ZONE              int64
WKDY                  int64
INT_HWY               int64
LGTCON_day            int64
LEVEL                 int64
SPD_LIM               int64
SUR_COND_dry          int64
TRAF_two_way          int64
WEATHER_adverse       int64
MAX_SEV            category
dtype: object

In [6]:
df['MAX_SEV']=df['MAX_SEV'].astype('category')

In [12]:
df['MAX_SEV'].unique()

[NOT_SEVERE, SEVERE]
Categories (2, object): [NOT_SEVERE, SEVERE]

In [61]:
sc=StandardScaler()
x=sc.fit_transform(x)

In [62]:
x=df.drop('MAX_SEV',axis=1)
y=df['MAX_SEV']

In [63]:
x=pd.DataFrame(sc.fit_transform(x),columns=x.columns)

C:\Users\murali\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\murali\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [64]:
x.head()

,RushHour,WRK_ZONE,WKDY,INT_HWY,LGTCON_day,LEVEL,SPD_LIM,SUR_COND_dry,TRAF_two_way,WEATHER_adverse
0,1.087115,-0.108648,0.507801,1.723447,-1.644294,1.829707,2.178622,-1.910802,-1.183216,2.277184
1,1.087115,-0.108648,0.507801,-0.296217,-1.644294,-0.546536,0.955059,-1.910802,0.845154,-0.439139
2,1.087115,-0.108648,-1.969276,-0.296217,-1.644294,-0.546536,-0.676358,-1.910802,-1.183216,2.277184
3,1.087115,-0.108648,0.507801,-0.296217,-1.644294,1.829707,-0.676358,-1.910802,-1.183216,2.277184
4,1.087115,-0.108648,0.507801,-0.296217,-1.644294,-0.546536,-1.492067,-1.910802,-1.183216,2.277184

In [65]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=0.7,random_state=0)

C:\Users\murali\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [66]:
br=BernoulliNB()
gb=GaussianNB()

In [67]:
br.fit(xtrain,ytrain)
gb.fit(xtrain,ytrain)

GaussianNB(priors=None, var_smoothing=1e-09)

In [68]:
npred=br.predict(xtest)
gbpred=gb.predict(xtest)

In [69]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [70]:
confusion_matrix(ytest,npred)

array([[32, 52],
       [36, 60]], dtype=int64)

In [71]:
print(classification_report(npred,ytest))

              precision    recall  f1-score   support

  NOT_SEVERE       0.38      0.47      0.42        68
      SEVERE       0.62      0.54      0.58       112

   micro avg       0.51      0.51      0.51       180
   macro avg       0.50      0.50      0.50       180
weighted avg       0.53      0.51      0.52       180

In [72]:
accuracy_score(ytest,npred)*100

51.11111111111111

In [73]:
#GUASSIANNB
confusion_matrix(ytest,gbpred)

array([[59, 25],
       [68, 28]], dtype=int64)

In [74]:
print(classification_report(gbpred,ytest))

              precision    recall  f1-score   support

  NOT_SEVERE       0.70      0.46      0.56       127
      SEVERE       0.29      0.53      0.38        53

   micro avg       0.48      0.48      0.48       180
   macro avg       0.50      0.50      0.47       180
weighted avg       0.58      0.48      0.51       180

In [75]:
accuracy_score(ytest,gbpred)*100

48.333333333333336

In [76]:
ytest

434        SEVERE
122        SEVERE
224        SEVERE
479    NOT_SEVERE
205    NOT_SEVERE
569        SEVERE
432    NOT_SEVERE
526    NOT_SEVERE
439        SEVERE
162    NOT_SEVERE
315    NOT_SEVERE
400    NOT_SEVERE
173    NOT_SEVERE
283    NOT_SEVERE
48         SEVERE
457        SEVERE
482        SEVERE
85         SEVERE
187        SEVERE
365        SEVERE
524        SEVERE
480        SEVERE
346    NOT_SEVERE
194    NOT_SEVERE
477        SEVERE
186        SEVERE
299        SEVERE
495    NOT_SEVERE
446    NOT_SEVERE
594        SEVERE
          ...
46         SEVERE
263        SEVERE
458        SEVERE
230        SEVERE
107    NOT_SEVERE
380    NOT_SEVERE
372    NOT_SEVERE
0      NOT_SEVERE
196        SEVERE
71     NOT_SEVERE
165    NOT_SEVERE
102    NOT_SEVERE
393        SEVERE
108    NOT_SEVERE
586        SEVERE
547        SEVERE
538        SEVERE
345    NOT_SEVERE
405    NOT_SEVERE
367        SEVERE
210    NOT_SEVERE
464    NOT_SEVERE
26         SEVERE
213        SEVERE
545        SEVERE
249        SEVERE
357        SEVERE
455    NOT_SEVERE
493        SEVERE
134        SEVERE
Name: MAX_SEV, Length: 180, dtype: category
Categories (2, object): [NOT_SEVERE, SEVERE]